body {
	font-family: sans-serif;
}

h1 {
	margin-bottom: 0px;
	font-family: "Open Sans", Times, serif;
}

h4  {
	font-size: 22px;
	margin-top: 3px;
	margin-bottom: 3px;
}

h5 {
	margin-bottom: 10px;
	font-family: "Open Sans", Times, serif;
}

h6 {
	font-size: 15px;
	margin-bottom: 2px;
}

p {
	margin-top:0px;
}

.counter {
	padding-top: 6px;
}

.bg-header {
	position: relative;
	height: 190px;
}

.bg-color {
    background-color: #eeeae4;
}

.padding {
	padding-left: 20px;
	padding-right: 20px;
}

.border {
	width: 80% !important;
	position: center;
	margin: 0 auto;
	background-color: #7CC1BE;
}

.border-white {
	padding-top: 3px;
	width: 80% !important;
	position: center;
	margin: 0 auto;
	background-color: #e6e1dd;
	height: 50px;
	border-radius: 5px;
}

.border-9 {
	width: 88% !important;
	position: center;
	margin: 0 auto;
	background-color: #7CC1BE;
}

.border-9-white {
	padding-top: 3px;
	width: 88% !important;
	position: center;
	margin: 0 auto;
	background-color: #e6e1dd;
	height: 50px;
	border-radius: 5px;
}

.border-10 {
	width: 91% !important;
	position: center;
	margin: 0 auto;
	background-color: #7CC1BE;
}

.border-10-white {
	padding-top: 3px;
	width: 91% !important;
	position: center;
	margin: 0 auto;
	background-color: #e6e1dd;
	height: 50px;
	border-radius: 5px;
}

.rank-chart {
	width: 95%;
	align-content: center;
}